<a target="_blank" class="article" href="<%= article.link %>"  id="<%= article.position %>">
  <div class="article_banner no<%= article.position %>"><%= article.position %></div>
  <h2><%= article.title %></h2>
  <% if article.first? %>
    <div class="button"></div>
  <% end %>
  <img src="<%= article.image.banner %>" alt="<%= article.title %>" />
  <div class="article_summary"><%= article.summary %></div>
</a>
<% if admin? %>
  <div class="admin_controls">
    <%= article.position.to_s %> | 
    <%= link_to 'Up', article_up_path(article) %> | 
    <%= link_to 'Down', article_down_path(article) %> | 
    <%= link_to 'Crop', article_crop_path(article) %>| 
    <%= link_to 'Edit', edit_article_path(article) %> | 
    <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>