<a class="article <%= article.position %>" href="<%= article.shortened_url %>" id="<%= article.position %>" target="_blank" >
  <h2 class="art_tit">
    <span><%= '%02i' % article.position %> | </span><%= article.title %>
  </h2>
  <section class="art_img" style="background-image: url(<%= article.image.banner %>)">
    <div class="art_summary"><%= article.summary %></div>
    <div class="art_darkness"></div>
    <div class="art_overlay"></div>
  </section>
</a>
<% if admin? %>
  <div class="admin_stats">
    <div class="item"><%= article.visits %></div>
    <div class="item"><%= article.tweeted %></div>
  </div>
  <div class="admin_controls">
    <%= link_to raw('&uarr;'), up_article_path(article), class: 'button' %>
    <%= link_to raw('&darr;'), down_article_path(article), class: 'button' %>
    <%= link_to 'Crop', crop_article_path(article), class: 'button' %>
    <%= link_to 'Edit', edit_article_path(article), class: 'button' %>
    <%= link_to 'Archive', archive_article_path(article), class: 'button', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>