<div id="article_form">
  <%= form_for(@article, html: { multipart: true }) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>There were <%= pluralize(@article.errors.count, "error") %>, bitch</h2>

        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field_link">
      <%= f.text_field :link, placeholder: 'http://news.com/breaking/news/at/this/hour' %>
    </div>
    <div class="edit_article_form">
      <%= render 'layouts/loader' %>
      <div class="article_banner no1"></div>
      <div class="field">
        <%= f.text_field :title, placeholder: 'Article title' %>
      </div>
      <div class="field_image" style="background: url('<%= @article.image.banner %>')">
        <div class="upload_wrap">
          <%= f.text_field :remote_image_url, placeholder: 'http://news.com/images/whoopi_goldberg.jpg' %><br />
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="field_text">
        <%= f.text_area :summary, placeholder: 'Article summary goes in here' %>
      </div>
      <div class="actions_submit">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>