 <%= form_for(@article, html: { multipart: true }) do |f| %>

<div class="scrape_link_container">
  <%= f.text_field :link, placeholder: 'http://news.com/breaking/news/at/this/hour', class: 'scrape_link' %>
</div>

<div class="article article_form">
  <%= render 'layouts/loader' %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>There were <%= pluralize(@article.errors.count, "error") %>, bitch</h2>

        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="art_tit">
      <span><%= Article.count + 1 %> | </span><%= f.text_field :title, placeholder: 'Article title' %>
    </h2>
    <section class="art_img" style="background-image: url('<%= @article.image.banner %>')">
      <div class="upload_wrap">
        <%= f.text_field :remote_image_url, placeholder: 'http://news.com/images/whoopi_goldberg.jpg' %><br />
        <%= f.file_field :image %>
      </div>
      <div class="art_summary"><%= f.text_area :summary, placeholder: 'Article summary goes in here' %></div>
      <div class="art_darkness"></div>
    </section>
    <%= f.submit nil, class: 'article_button' %>
</div>
<% end %>