<% content_for(:head) do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0,0, 661, 240],
        aspectRatio: 2.754166666666667
      });
    });
    function update_crop(coords) {
      var rx = 661/coords.w;
      var ry = 240/coords.h;
      var ratio = <%= @article.image.geometry[:width] %> / 661;
      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    }
  </script>
<% end %>

<%= image_tag @article.image, id: "cropbox", width: '661' %>
<div id="crop_form">
  <%= form_for(@article) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, id: attribute %>
    <% end %>
    <%= f.submit "Crop" %>
  <% end %>
</div>