<a target="_blank" class="article" href="<%= @article.link %>">
	<div class="article_banner no1">1</div>
	<h2><%= @article.title %></h2>
	<img src="<%= @article.image %>" alt="<%= @article.title %>" />
	<div class="article_text"><%= @article.text %></div>
</a>

<div id="article_form">
	<%= form_for(@article, :url => update_article_path, :html => { :multipart => true }) do |f| %>
	  <% if @article.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this store from being saved:</h2>

	      <ul>
	      <% @article.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<div id="prettyform">
		  <div class="field">
		    <%= f.text_field :title %>
		  </div>
		  <div class="field_image">
		    <%= f.file_field :image %>
		  </div>
			<div class="field_text">
		    <%= f.text_area :text %>
		  </div>
		  <div class="field_link">
		    <%= f.text_field :link %>
		  </div>
		  <div class="actions_submit">
		    <%= f.submit %>
		  </div>
		</div>
	<% end %>
</div>