<!DOCTYPE html>
<html>
<head>
	<title>Briefly - Fast news for short attention spans</title>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tag %>
	<meta name="description" content="Everything you need to know and nothing you don't." />
	<%= favicon_link_tag 'favicon.png' %>
	<%= render 'layouts/analytics' %>
</head>
<body>
	<%= render 'layouts/admin_banner' %>
	<section class="top">
    <h1><a href="/">BRIEFLY</a></h1>
    <p class="p1">FAST NEWS FOR SHORT ATTENTION SPANS</p>
    <p class="p2"><em>from NEW ZEALAND &amp; THE WORLD</em></p>
  </section> 
	<%= render 'layouts/notices' %>
	<section class="wrapper">
		<%= yield %>
	</section>
  <section class="footer">
    <a href="#"><h1 class="foottitle">BRIEFLY</h1></a>
    <a href="#"><p class="copyright">&copy; copyright BRIEFLY 2014</p></a>
  </section>   
</body>
</html>