<!DOCTYPE html>
<html>
<head>
	<% unless params[:controller] == "private" %>
		<title>Briefly - Fast news for short attention spans</title>
	<% else %>
		<title>Briefly - Admin</title>
	<% end %>
	<%= stylesheet_link_tag 'briefly' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'jquery.min' %>
	<%= javascript_include_tag 'jquery_ujs' %>
	<%= javascript_include_tag 'supersleight.plugin' %>
 	<script type="text/javascript">
		$(document).ready(
			function() 
			{
		    $('body').supersleight();
			}
		);
	</script>
	<%= javascript_include_tag 'jquery.shortkeys' %>
	<script type="text/javascript">
		$(document).shortkeys({
		  'j':       function () { moveDown(); },
			'k':       function () { moveUp(); }
		});
	</script>
	<%= yield(:head) %>
	<%= csrf_meta_tag %>
	<meta name="description" content="Everything you need to know and nothing you don't." />
	<link rel="shortcut icon" href="/images/favicon.png" />
	<% unless params[:controller] == "private" %>
		<script type="text/javascript">
	
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23174071-1']);
		  _gaq.push(['_trackPageview']);
	
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	
		</script>
	<% end %>
</head>
<body>
	<div id="main_wrap">
		<div id="main">
			<div id="header">
				<a href="/"><img src="/images/briefly.png" alt="Briefly" /></a>
				<div id="tagline">Fast news for short attention spans</div>
				<div id="from">from</div>
				<div id="nz">New Zealand and the world</div>
			</div>
			<% if notice %><p class="notice"><%= notice %></p><% end %>
			<% if alert %><p class="alert"><%= alert %></p><%end%>
	<%= yield %>
		</div>
	</div>
	<div id="preload">
		<img src="/images/article_hover_bg.png" width="0" height="0" alt="" />
	</div>
</body>
</html>
